html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 100% is 16px, and 62.5% is 10px which is the size we want. */
}

body {
  background-color: #607d8b;
  color: #ffffff;
  font-family: "Cinzel", serif;
}

#title {
  background-color: #536dfe;
  text-align: center;
  padding: 25px 15px;
  border: 1.5rem solid #455a64;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 8rem;
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.parent {
  display: flex;
  justify-content: space-around;
  font-size: 5rem;
  height: 120vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  box-shadow: whitesmoke;
  text-align: center;
}

.box {
  width: 30%;
}

img {
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  border: solid 1rem #ffffff;
}

h2 {
  font-size: 3rem;
  padding: 2.5rem;
}
