html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 100% is 16px, and 62.5% is 10px which is the size we want. */
}

body {
  background-color: #607d8b;
  color: #ffffff;
  font-family: "Cinzel", serif;
}

#title {
  background-color: #536dfe;
  text-align: center;
  padding: 1.5rem 60rem;
  border: 1.5rem solid #9c8db9;
  margin-left: auto;
  margin-right: auto;
  font-size: 4rem;
  margin-top: 8rem;
  margin-bottom: 1.5rem;
  box-shadow: -1.2rem -1rem 0.5rem 0.3rem #d1c4e9;
  color: #ffc107;
  outline-offset: 1.1rem;
}

.parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 5rem;
  height: 120vh;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
}

.box {
  width: 30%;
  margin: auto;
}

.box1 {
  width: 100%;
  font-size: 4rem;
  padding: 2rem;
  background-color: #536dfe;
  border: solid 1.5rem #9c8db9;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
  box-shadow: -1.2rem -1rem 0.5rem 0.3rem #d1c4e9;
  color: #ffc107;
  transition: all 0.2s;
}

.imgs {
  height: 45vh;
  width: 100%;
  box-sizing: border-box;
  border: 1rem solid #ffffff;
  filter: blur(0.15rem);
  transition: 0.5s;
}

#cafetext {
  font-size: 3.4rem;
  padding: 0.4rem;
}

.bigtitle {
  font-size: 8rem;
}

.mainheader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: column;
  height: 38vh;
  width: 100%;
}

.anispacing {
  height: 3rem;
}

.button {
  background-color: #7e57c2;
  position: center;
  margin: auto;
  height: 7rem;
  width: 33rem;
  font-size: 2rem;
  color: #82b1ff;
  font-weight: bold;
}

.button:hover {
  background-color: #ff80ab;
  color: #b2ff59;
  transition: 0.5s ease-in-out;
}

.box1:hover {
  transform: scale(1.1);
  background-color: #f48fb1;
  color: #ffe082;
  border: solid 1rem #9ccc65;
}

#title:hover {
  transform: scale(1.1);
  outline: solid 0.75rem #ffc107;
  transition: 1s ease-in-out;
}

.imgs:hover {
  filter: none;
}

.animation1:hover {
  filter: grayscale(90%);
}

.animation1 {
  font-size: 3rem;
  animation: load 8s infinite;
  position: absolute;
  margin-top: 2rem;
  border: solid 0.5rem #b388ff;
  transition: 0.5s;
}

@keyframes load {
  0% {
    left: 0%;
    background-color: #0d47a1;
  }
  20% {
    left: 20%;
    background-color: #1565c0;
  }
  40% {
    left: 40%;
    background-color: #1976d2;
  }
  60% {
    left: 60%;
    background-color: #1e88e5;
  }
  80% {
    left: 80%;
    background-color: #2196f3;
  }
  100% {
    left: 100%;
    background-color: #42a5f5;
  }
}

@media screen and (max-width: 700px) {
  .box {
    width: 80%;
  }
  .box1 {
    width: 90%;
  }
}
